form {
    width: 500px;
    margin: 50px auto;
    margin-bottom: 20px;
    text-align: right;
}

form input {
    width: 50px;
}

.btn_box {
    margin: 0 auto;
    width: 500px;
    text-align: right;
}

.box {
    width: 1000px;
    height: 600px;
    margin: 20px auto;
    border: 1px solid #000;
    position: relative;
}

.create_box {
    position: absolute;
    border: 5px solid rgba(38, 197, 171, 0.856);
    border-radius: 5px;
    top: 0px;
    left: 0px;
}

.header {
    position: absolute;
    width: 100%;
    height: 30px;
    background: rgba(38, 197, 171, 0.856);
    box-shadow: 0 0 0 2px rgba(38, 197, 171, 0.856);
    cursor: move;
}

.header_box {
    width: 100px;
    height: 30px;
    float: right;
}

.header_box a {
    float: left;
    font-size: 1.5em;
    width: 33%;
    height: 30px;
    text-align: center;
    cursor: pointer;
}

.header_box .big {
    background: url('../images/boost.png') no-repeat 8px 6px;
}

.header_box .max {
    display: none;
    background: url('../images/narrow.png') no-repeat 8px 8px;
}

.header_box .big:hover {
    background: rgb(0, 47, 255) url('../images/boots1.png') no-repeat 8px 8px;
}

.header_box .max:hover {
    background: rgb(0, 47, 255) url('../images/narrow1.png') no-repeat 8px 8px;
}

.header_box a:hover {
    background: rgb(0, 47, 255);
    color: #fff;
}

.content {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    box-sizing: border-box;
    background: #fff;
    color: #000;
}
.content p {
    word-break: break-all;
}
.left,
.right,
.top,
.bottom {
    position: absolute;
    width: 10px;
    height: 100%;
}

.left {
    left: -5px;
    top: 0px;
    cursor: w-resize;
}

.right {
    top: 0;
    right: -5px;
    cursor: e-resize;
}

.top {
    top: -5px;
    left: 0px;
    width: 100%;
    height: 10px;
    cursor: n-resize;
}

.bottom {
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 10px;
    cursor: s-resize;
}

.u-l,
.u-r,
.b-l,
.b-r {
    position: absolute;
    width: 10px;
    height: 10px;
}

.u-l {
    top: 0;
    left: 0;
    cursor: nw-resize;
}

.u-r {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.b-l {
    left: 0;
    bottom: 0;
    cursor: sw-resize;
}

.b-r {
    right: 0;
    bottom: 0;
    cursor: se-resize;
}
